
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made  by Suto Michimasa</p>
    <a class="footer-link" href="https://twitter.com/Suto_michimasa"><i class="social-icon fab fa-twitter"></i></a>
    <a class="footer-link" href="https://www.instagram.com/s____m____35"><i class="social-icon fab fa-instagram"></i></a>
  </div>
</div>
</body>
</html>
